@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
    font-family: "Poppins", sans-serif;
    /* font-family: "Nunito", sans-serif; */
}

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 4em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: rgb(255, 255, 255);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.menu-icon.active .hamburger  svg {
  transform: rotate(-45deg);
}

.menu-icon.active .hamburger  svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* side-bar-menu */
.sub-menu-side-menu-mobile {
  visibility: hidden;
  max-height: 0px;
  overflow: hidden; /* Ensure content is hidden when max-height is zero */
  transition: max-height .3s ease-in-out, visibility .3s ease-in-out;
}

.sub-menu-side-menu-mobile.active {
  visibility: visible;
  max-height: 500px; 
  animation: a .5s ease-in-out;
}

@keyframes a {
  0% {
    max-height: 0px;
  }
  100% {
    max-height: 500px; /* Match this value to the value in .active */
  }
}

.content  strong img{
  max-width: 1.8rem;
}


.content > p > a > strong{
  --tw-text-opacity: 1;
  color: #428bca;
}
.content > p > strong{
  font-size: 1.6rem;
}
.content > h2{
  font-size: 2.3rem;
  font-weight: 700;
}
.content > h2 >  strong{
  /* font-size: 2.2rem; */
  text-align: left;
}
.content > h3 >  strong{
  /* font-size: 2rem; */
}
.content > figure  img, .content > p  img{

  margin: 0 auto;
}
.content > figure >  figcaption{
  margin: 2px 0;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}
.content > p > em{


}
.content > figure {
  font-size: 1.2rem;
  background: #fff;
  border: 1px solid #f0f0f0;
  max-width: 95%;
  padding: 5px 3px 5px;
  margin: 0 auto;
  
}
.content > ul > li > a > strong {
  list-style-type: disc;
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity));
  font-size: 1.5rem;
}
.content > ul > li {
  padding: 3px 0;
  margin-left: 20px;
  list-style-type: disc;
  --tw-text-opacity: 1;
  font-size: 1.5rem;
}
.content > ul > li > a, .content blockquote p strong a, .content p strong a {
  color: #428bca;
}
.content > table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 20px;
  width: 100%;
  border: 1px solid #ededed;
  font-size: 1.3rem/* 24px */;
  line-height: 2.2rem/* 32px */;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}
.content > table > tbody > tr {
  border: 1px;
}
.content > table > tbody > tr > td {
  border-top: 1px solid #ededed;
  padding: 8px 12px;
}
.register{
  animation: animate-register 1300ms infinite;
}

@keyframes animate-register{
  0% {
    background-color: #cc001b;
    box-shadow: 0 0 5px #cc001b;
}
50% {
    background-color: #cc001b;
    box-shadow: 0 0 20px #cc001b;
}
100% {
    background-color: #cc001b;
    box-shadow: 0 0 5px #cc001b;
}
}

.breadcrumb > b {
  color: #33a6dd;
}